{% extends "master.jinja" %}
{% import 'Transaction/macros.jinja' as m with context %}

{% block master_title %}
    Transactions
{% endblock %}

{% block contents %}

    <div class="row">
        <div class="bs-callout bs-callout-info row col-xs-12">
            <h4>Produces two files</h4>

            <p>
                All checked plugins will be compiled into a readable
                <code>bootstrap.js</code>
                and a minified
                <code>bootstrap.min.js</code>
                . We recommend you use the minified version in production.
            </p>
        </div>

        <div class="row col-xs-12">
            <div class="col-md-6 col-sm-12">
                {{ m.render_transaction_form(tg.url('/transaction/add_transaction'), tags=tags) }}
            </div>

            <div class="row col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-xs-6">
                        <pre class="">
                            {%- for tag in tags -%}
                                {{ '%7s'|format(tag.type) }} {{ tag.name }}{{ '\n'|safe }}
                            {%- endfor -%}
                        </pre>
                    </div>

                    <div class="col-xs-6">
                        <pre class="">
                            {%- for group in tagGroups -%}
                                {%- for tag in group.tags -%}
                                    {%- if loop.first %}{{ '%7s'|format(tag.type) }}: {% endif -%}
                                    {{ tag.name }}{{ '; ' if not loop.last }}
                                {%- endfor -%}{{ '\n'|safe }}
                            {%- endfor -%}
                        </pre>
                    </div>
                </div>
                <div class="row col-xs-12">
                    <dl class="dl-horizontal">
                        <dt>Balance</dt>
                        <dd>{{ totalBalance }}</dd>

                        {% for name,balance in balances.items() %}
                        <dt>{{ name }}</dt>
                        <dd>{{ balance }}</dd>
                        {% endfor %}

                        <dt>Total incomes</dt>
                        <dd>{{ totalIncomes }}</dd>

                        <dt>Total expenses</dt>
                        <dd>{{ totalExpenses }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <h1>Latest <small><a href="{{ tg.url('/transaction/filter') }}">more</a></small></h1>
        {%- for transaction in transactions -%}
            {{ m.render_transaction(transaction) }}
            {% if loop.index is divisibleby 6 %}
                <div class="clearfix visible-md visible-lg"></div>
            {% endif %}
            {% if loop.index is divisibleby 3 %}
                <div class="clearfix visible-xs"></div>
            {% endif %}
        {%- endfor -%}
    </div>
{% endblock %}
