{% macro render_transaction(transaction) %}
    <div class="transaction-box {% if transaction.transferKey %}transfer{% endif %}">
        <div style="margin-bottom: 0" class="info">
            <h4 class="fittext">{{ transaction.date.strftime("%d. %m. %Y.  %H:%M")|replace(' ', '&nbsp;')|safe }}</h4>

            <p class="fittext transaction-amount {% if transaction.amount < 0 %}expense{% else %}income{% endif %}">{{ '{0:n}'.format(transaction.amount) }}</p>
        </div>
        <div class="tags">
            {% for tag in transaction.incomeTagGroup.tags %}
                <span class="tag income">{{ tag.name }}</span>
            {% endfor %}
            {% for tag in transaction.expenseTagGroup.tags %}
                <span class="tag expense">{{ tag.name }}</span>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_transaction_form(actionLink, method="post", tags=[], groups=[]) %}

    <form id="add-transaction-form" class="form-horizontal" method="{{ method }}" action="{{ actionLink }}" >
        <fieldset>
            <!-- Form Name -->
            <legend>Add transaction</legend>
            <div class="row form-group">
                <div class="col-xs-12">
                    <button id="form-type-toggle" type="button" class="btn btn-primary" data-toggle="button" data-toggle-name="Click to Income/Expense">Click to transfer</button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-8">
                    <div id="form-type-radio-date-sel" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="date-sel" id="date-sel-option1" value="-1 day"/> yesterday
                        </label>
                        <label class="btn btn-primary active">
                            <input type="radio" name="date-sel" id="date-sel-option2" value="now"/> now
                        </label>
                        <label class="btn btn-primary own">
                            <input type="radio" name="date-sel" id="date-sel-option4" value="own"/> own
                        </label>
                    </div>
                </div>
                <div class="col-xs-4 ">
                    <div class="input-group ">
                        <input type="datetime-local" name="datetime" id="frm-datetime" class="form-control hidden"
                               placeholder="{{ h.current_datetime() }}"
                               ata-validation="date" data-validation-format="dd. mm. yyyy. HH:MM"/>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <!-- Appended Input-->
                <div class=" col-sm-6">
                    <div class="">
                        <div class="input-group">
                            <input id="frm-amount" name="amount" class="form-control"
                                   placeholder="Amount" type="number" required="required"
                                   data-validation="number" data-validation-allowing="float, negative" />
                            <span class="input-group-addon">Kč</span>
                        </div>
                    </div>
                </div>

                <!-- Button Drop Down -->
                <div class="col-sm-6">
                    <div class="">
                        <div class="input-group">
                            <input id="frm-foreign-currency-amount" name="foreign-currency-amount" class="form-control"
                                   placeholder="Amount in foreign currency" type="number"
{#                                   data-validation="number" data-validation-allowing="float, negative" #}
                                    />

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    €
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">€</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group col-md-12">
                <div id="income-tags-wrapper" class="">
                    <input id="frm-income-tags" name="income-tags" placeholder="Income tags"
                           class="form-control input-md" type="text">
                    <span class="help-block tags">
                        {% for tag in tags if tag.type == "INCOME" %}
                            <a class="tag income" relatedto="frm-income-tags">{{ tag.name }}</a>
                        {% endfor %}
                    </span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group col-md-12">
                <div id="expense-tags-wrapper" class="">
                    <input id="frm-expense-tags" name="expense-tags" placeholder="Expense tags"
                           class="form-control input-md" type="text">
                    <span class="help-block tags">
                        {% for tag in tags  if tag.type == "EXPENSE" %}
                            <a class="tag expense" relatedto="frm-expense-tags">{{ tag.name }}</a>
                        {% endfor %}
                    </span>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group col-md-12">
                <div class="">
                    <textarea class="form-control" id="frm-description" name="description"
                              placeholder="Description"></textarea>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="input-group pull-right">
                    <a class="btn btn-default from-control" name="btn-send" href="">Cancel</a>
                    <input class="btn btn-primary btn-type-color" type="submit" value="Save">
                </div>
            </div>
        </fieldset>
    </form>

<script type="text/javascript">
    $("#form-type-toggle").click(function(){
        var innerText = $(this).text();
        $(this).text($(this).attr('data-toggle-name'));
        $(this).attr('data-toggle-name', innerText);
    })

    $( "input[name='date-sel']" ).change(function() {
        $("#frm-datetime").val($(this).val());
        if($(this).val() == 'own'){
            $("#frm-datetime").removeClass('hidden');
            $("#frm-datetime").val('');
        }
        else{
            $("#frm-datetime").addClass('hidden');
        }
    });

    $(".tags .tag").each(function () {
        $(this).click(function () {
            var relatedTo = $('#' + $(this).attr('relatedTo'));
            var tagName = $(this).text();
            //console.log( relatedTo );
            var className = 'selected';

            $(relatedTo).val($(relatedTo).val().replace(/(\s*,\s*)*$/g, ""));

            if ($(this).hasClass(className)) {
                $(this).removeClass(className);

                $(relatedTo).val(function () {
                    var pattern = new RegExp(
                            "^\\s*" + tagName + "\\s*,?\\s*" +
                                    "|\\s*,?\\s*" + tagName + "\\s*" +
                                    "|\\s*" + tagName + "\\s*,?\\s*"
                            , 'g');
                    return $(relatedTo).val().replace(pattern, "")
                });
            }
            else {
                $(this).addClass(className);

                $(relatedTo).val($(relatedTo).val().replace(/\s*,\s*$/g, ""));
                var del = $(relatedTo).val().replace(/^\s+|\s+$/g, "").length != 0 ? ', ' : '';
                $(relatedTo).val($(relatedTo).val() + del + tagName + ", ");
            }
        });
    });
</script>

{% endmacro %}
