{% extends "master.jinja" %}

{% block master_head %}
    <script src="/javascript/underscore-min.js"></script>
    <script src="/assets/plugins/angular.min.js"></script>
    <script src="/assets/plugins/angular-route.js"></script>
    <script src="/assets/plugins/angular-resource.js"></script>

    <script src="/javascript/ng-tags-input.js"></script>

    <script src="/javascript/services.js"></script>
    <script src="/javascript/controllers.js"></script>
    <script src="/javascript/directives.js"></script>
    <script src="/javascript/modules.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/ng-tags-input.css"/>
{% endblock %}

{% block master_title %}
    Welcome to Trine App
{% endblock %}

{% block content %}
    <div ng-view></div>
{% endblock %}
