{% extends "master.jinja" %}
{% import 'Fund/macros.jinja' as m %}

{% block master_title %}
    Funds
{% endblock %}

{% block contents %}
    <div class="row">
        {% for tag in tags %}
            <div class="row">
                <div class="col-md-12 bs-callout {% if tag.type == 'EXPENSE' %}bs-callout-danger{% else %}bs-callout-info{% endif %}">
                    <h4>{{ tag.name }}</h4>

                    <p>
                        <small>{{ tag.type|capitalize }}</small>
                    </p>
                </div>
            </div>
            <div class="row">
                {% for group in tag.groups %}
                    {% for fund in group.incomes %}
                        {{ m.render_fund(fund) }}
                    {% endfor %}
                    {% for fund in group.expenses %}
                        {{ m.render_fund(fund) }}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}