{% extends "master.jinja" %}
{% import 'Fund/macros.jinja' as m with context %}

{% block master_title %}
    Funds
{% endblock %}

{% block contents %}

    <div class="row">
        <div class="col-md-6">
        <pre class="">
            {%- for tag in tags -%}
                {{ '%7s'|format(tag.type) }} {{ tag.name }}{{ '\n'|safe }}
            {%- endfor -%}
        </pre>
        </div>
        <div class="col-md-6">
        <pre class="">
            {%- for group in tagGroups -%}
                {%- for tag in group.tags -%}
                    {%- if loop.first %}{{ '%7s'|format(tag.type) }}: {% endif -%}
                    {{ tag.name }}{{ ', ' if not loop.last }}
                {%- endfor -%}{{ '\n'|safe }}
            {%- endfor -%}
        </pre>
        </div>
    </div>


    <div class="row">
        <div class="bs-callout bs-callout-info">
            <h4>Produces two files</h4>

            <p>
                All checked plugins will be compiled into a readable
                <code>bootstrap.js</code>
                and a minified
                <code>bootstrap.min.js</code>
                . We recommend you use the minified version in production.
            </p>
        </div>
    </div>

    <div class="row">
        {%- for fund in funds -%}
            {{ m.render_fund(fund) }}
        {%- endfor -%}
    </div>
{% endblock %}
