@import (reference) "../bootstrap/less/bootstrap.less";
@import (reference) "../bootstrap/dist/css/docs.less";

//@media (max-width: @screen-sm-max) {
//  .tag { font-size: 1.2em;}
//}

#flash-box-main {
  .bs-callout;
  .bs-callout-warning;
}

.tag {
  .label;
  .label-default;

//  background-color: @color-primary;

  &.selected, &:hover {
    background-color: darkgrey;  cursor: pointer;
    color: white; text-decoration: none;
  }

  &.income {
    .label-success;
  }

  &.expense {
    .label-danger;
  }
}

.transaction-box {
  .make-md-column(2);
  .make-xs-column(4);

  &.transfer {
    .transaction-amount {
      color: @brand-info
    }
  }

  .info {
    .bs-callout;
  }

  .tags {
    text-align: center;
  }
}

.bs-callout-green {
  border-color: @brand-success;
  background-color: fadeout(@brand-success, 43%);
}

.transaction-amount.expense {
  color: darken(@brand-danger, 20%);
}

.transaction-amount.income {
  color: darken(@brand-success, 20%);
}

//@brand-success

